<h1>Books</h1>
<p> <a href="new_book.html" class="button" class="button">Create New Book</a></p>
<p>Filters <a href="all_books.html">All</a> | <a href="overdue_books.html">Overdue</a> | <a href="checked_books.html">Checked Out</a></p>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Genre</th>
				<th>Year Released</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td><a href="/books/{{book.id}}">{{book.title}}</a></td>
				<td>{{book.author}}</td>
				<td>{{book.genre}}</td>
				<td>{{book.first_published}}</td>
			</tr>
		</tbody>
	</table>
</div>
