<h1>Library Manager</h1>
<p>Welcome to Library Manager</p>
<div class="home-nav row">
	<div class="col-md-4">
		<h3>Books</h3>
		<div>
			<ul>
				<li><a ui-sref="books.new">New Book</a></li>
				<li><a ui-sref="books({type: 'all'})">List All</a></li>
				<li><a ui-sref="books({type: 'overdue'})">List Overdue</a></li>
				<li><a ui-sref="books({type: 'out'})">List Checked Out</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Patrons</h3>
		<div>
			<ul>
				<li><a ui-sref="patrons.new">New Patron</a></li>
				<li><a ui-sref="patrons">List All</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Loans</h3>
		<div>
			<ul>
				<li><a ui-sref="loans.new">New Loan</a></li>
				<li><a ui-sref="loans({type: 'all'})">List All</a></li>
				<li><a ui-sref="loans({type: 'overdue'})">List Overdue</a></li>
				<li><a ui-sref="loans({type: 'out'})">List Checked Out</a></li>
			</ul>
		</div>
	</div>
</div>
