<h1>Patrons</h1>
<p> <a ui-sref="patrons.new" class="button">Create New Patron</a></p>
<div class="">
	<table class="table table-hover" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Library ID</th>
				<th>Zip</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="patron in patrons">
			<td><a ui-sref="patron-detail({id: patron.id})">{{patron.first_name}} {{patron.last_name}}</a></td>
			<td>{{patron.address}}</td>
			<td>{{patron.email}}</td>
			<td>{{patron.library_id}}</td>
			<td>{{patron.zip_code}}</td>
			<td>
				<a class="btn btn-default" type="button" ui-sref="patrons.edit({id: patron.id})" title="Edit">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</a>
				<a class="btn btn-info" type="button" ui-sref="patrons({id: patron.id})" title="Details">
					<i class="fa fa-info" aria-hidden="true"></i>
				</a>
				<a class="btn btn-danger" type="button" ng-click="delete(patron)" title="Delete">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div confirm-delete-modal id="confirm-delete-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title">Confirm Delete</h3>
			</div>
			<div class="modal-body" id="modal-body">
				<p>You are about to delete patron '{{itemToDelete.first_name}} {{itemToDelete.last_name}}'</p>
				<p>{{itemToDelete.address}}, {{itemToDelete.zip_code}}</p>
				<p>Library ID: {{itemToDelete.library_id}}</p>
				<p>Are you sure you want to do this?</p>
				<p class="text-danger" ng-show="deleteError">Error: {{deleteError}}</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" ng-click="confirmDelete()">
					<i class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-show="confirmedDelete"></i>
					Confirm
				</button>
				<button class="btn btn-default" type="button" ng-click="cancelDelete()">Cancel</button>
			</div>
		</div>
	</div>
</div>
<div ui-view="child"></div>
