<h1>Loans</h1>
<p> <a ui-sref="loans.new" class="button">Create New Loan</a></p>
<p>Filters <a href="all_loans.html">All</a> | <a href="overdue_loans.html">Overdue</a> | <a href="checked_loans.html">Checked Out</a></p>
<div class="">
	<table class="table table-hover" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
		<thead>
			<tr>
				<th>Book</th>
				<th>Patron</th>
				<th>Loaned on</th>
				<th>Return by</th>
				<th>Returned on</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		<tr ng-repeat="loan in loans">
			<td><a ui-sref="book-detail({id: loan.book_id})">{{loan.Book.title}}</a></td>
			<td><a ui-sref="patron-detail({id: loan.patron_id})">{{loan.Patron.first_name}} {{loan.Patron.last_name}}</a></td>
			<td>{{loan.loaned_on}}</td>
			<td>{{loan.return_by}}</td>
			<td>{{loan.returned_on}}</td>
			<td>
				<button ng-if="!loan.returned_on" class="btn btn-primary" type="button" ui-sref="loans.return({id: loan.id})" title="Return Book">
					<i class="fa fa-check-square-o" aria-hidden="true"></i> Return Book
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div ui-view="child"></div>
