<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<i class="fa fa-book" aria-hidden="true"></i>
				Library Manager
			</a>
		</div>
		<div class="pull-right">
			<ul class="nav navbar-nav">
				<li ng-class="{active: isActive('/')}">
					<a ui-sref="home">Home</a>
				</li>
				<li ng-class="{active: isActive('/books')}">
					<a ui-sref="books">Books</a>
				</li>
				<li ng-class="{active: isActive('/patrons')}">
					<a ui-sref="patrons">Patrons</a>
				</li>
				<li ng-class="{active: isActive('/loans')}">
					<a ui-sref="loans">Loans</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
